:root {
    --tc-theme-color: #0057FC;
    --tc-theme-sec-color: #FFE815;
    --tc-theme-sec-color-3: #FEDC76;
    --tc-theme-sec-color-4: #FFF3D7;
    --tc-heading-color: #0A0E1A;
    --tc-theme-nblue: #001C52;
    --tc-theme-orange: #FF5B15;
    --tc-theme-red: #FF3838;
    --tc-body-color: #57595C;
    --tc-common-black: #0A0E1A;
    --tc-common-white: #fff;
    --tc-cream-color: #FBF6EF;
    --tc-cream-color-2: #FDF6F2;
    --tc-grey-color: #f6f6f6;
    --tc-grey-color-2: #f6f6f6;
    --tc-grey-color-3: #f6f6f6;
    --tc-grey-color-4: #f6f6f6;
}
