@use '../../utils' as *;

.tc-footer-widget-title-white{
    color: #0A0E1A;
}

.tc-footer-newsletter{
    position: relative;
    & input{
        margin-bottom: 10px;
    }
    & button{
        right: 0;
        bottom: 10px;
        color: #57595C;
        position: absolute;
    }
    .form-check-label{
        font-size: 15px;
        color: #57595C;
    }
    
    .form-check-input{
        transform: translateY(2px);
    }

    &-2{
        & .form-check input{
            --bs-form-check-bg: none;
            border: 1px solid #545454;
        }

        & .form-check-label{
            color: #B1B4BA;
        }
        & input{
            color: #b1b1ba;
            @include tc-placeholder(){
                color: #b1b1ba;
            }
        }
    }
}

.tc-footer-social{
    & a{
        color: #57595C;
        font-size: 20px;
        margin-right: 18px;
    }
    &-box{
        & a{
            color: #fff;
            display: block;
            font-size: 30px;
            text-align: center;
            padding: 35px 30px;
            border-radius: 20px;
            border: 1px solid #ddd;
            text-transform: uppercase;
            font-family: var(--tc-heading-font);
            @include  transition(.3s);
            &:hover{
                background-color: var(--tc-theme-red);
            }
            @media #{$lg,$md,$xs}{       
                font-size: 25px;
             }
        }
    }
}

.footer-widget-space{
    @media #{$lg,$md,$xs}{       
        padding-left: 0;
     }
}


.tc-footer-content-item-black{
    & span{
        color: #57595C;
    }
    & h4{
        & a{
            color: #0A0E1A;
        }
    }
}

.footer-content{
    &-white{
        & span{
            color: #B1B4BA;
        }
    }
    & span{
        color: #57595C;
    }
}

.tc-footer-widget{
    &-2{
        & ul{
            & li{
                & a{
                    color: #57595C;
                }
            }
        }
        &-col-4{
            padding-left: 70px;
            @media #{$xs}{
                padding-left: 0;
            }
        }
    }
    &-border{
        border-bottom: 1px solid #57595C;
    }
}

.tc-footer-title{
    margin-bottom: 50px;
    border-bottom: 1px solid #373737;
    & h2{
        color: #fff;
        font-size: 30px;
        padding: 0 30px;
        margin-bottom: 0;
        background: #1a1a1a;
        display: inline-block;
        transform: translateY(19px);
        @media #{$xs}{
            font-size: 18px;
        }
    }
}




.tc-footer-copyright-area-2{
    .tc-footer-copyright{
        & p{
            color: #57595C;
        }
    }

    .tc-footer-menu{
        & ul{
            & li{
                & a{
                 color: #57595C;
                }
            }
        }
    }
}