@use '../utils' as *;

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 200 {
    .mt-#{1 * $i}{margin-top: 1px * $i;}
}
/*-- Margin Bottom --*/
@for $i from 1 through 200 {
    .mb-#{1 * $i}{margin-bottom: 1px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 200 {
    .ml-#{1 * $i}{margin-left: 1px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 100 {
    .mr-#{1 * $i}{margin-right: 1px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 250 {
    .pt-#{1 * $i}{padding-top: 1px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 250 {
    .pb-#{1 * $i}{padding-bottom: 1px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 230 {
    .pl-#{1 * $i}{padding-left: 1px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 230 {
    .pr-#{1 * $i}{padding-right: 1px *$i;}
}

.tc-video-area{
    padding: 300px 30px;
    @media #{$lg}{
        padding: 200px 30px;
    }
    @media #{$md,$xs}{
        padding: 200px 30px;
    }
}


.pt-280{
    padding-top: 280px;
}

.pb-180{
    padding-bottom: 180px;
}


.plr{
    padding-left: 100px;
    padding-right: 100px;
    @media #{$xl}{
        padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$lg,$md,$xs}{
        padding-left: 15px;
        padding-right: 15px;
    }
}


.plr-85{
    padding-left: 85px;
    padding-right: 85px;
    @media #{$xl}{
        padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$lg,$md,$xs}{
        padding-left: 15px;
        padding-right: 15px;
    }
}

