@use '../utils' as *;

.tc-btn{
    color: #fff;
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 5px;
    display: inline-block;
    font-family: var(--tc-heading-font);
    background-color: var(--tc-theme-color);
    position: relative;
    overflow: hidden;
    &:hover{
        & .tc-btn-y-1{
            @include transform( translateY(-100%));
        }
        & .tc-btn-y-2{
            @include transform( translateY(-100%));
        }
        & i{
            right: -25%;
        }
    }
    &-sec{
        font-size: 18px;
        padding: 16px 32px;
        border-radius: 5px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        font-family: var(--tc-heading-font);
        background-color: var(--tc-theme-sec-color);
        &-lg{
        padding: 22px 46px;
        }
        & i{
            width: 22px;
            height: 100%;
            position: absolute;
            bottom: -2px;
            right: -8px;
            @include transform( rotate(13deg));
            background-color: #EFCF00;
            @include  transition(.3s);
        }
        &:hover{
            & .tc-btn-y-1{
            @include transform( translateY(-100%));
            }
            & .tc-btn-y-2{
                color: var(--tc-heading-color);
            @include transform( translateY(-100%));
            }
            & i{
                right: -20%;
            }
        }
    
    }
    &-ter{
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        padding: 16px 48px 16px 32px;
        font-family: var(--tc-heading-font);
        background-color: var(--tc-theme-color);
        &-red{
            background-color: var(--tc-theme-red);
        }
        &-lg{
        padding: 22px 46px;
        }
        & i{
            bottom: 20px;
            color: #fff;
            @include  transition(.3s);
            position: absolute;
            padding-left: 10px;
            @include transform( rotate(-47deg));
        }
    
    }

    &-circle{
        color: #FFF;
        font-family: var(--tc-heading-font);
        font-size: 60px;
        font-weight: 400;
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 48px 75px;
        display: inline-block;
        line-height: 1;
        border-radius: 100%;
        opacity: 0.3;
        @include  transition(.3s);
        @media #{$xs}{
            font-size: 25px;
        }
       &:hover{
        color: #fff;
        opacity: 1;
        background-color: var(--tc-theme-color);
        border-color: var(--tc-theme-color);
       }
    }
    &-wrap{
        overflow: hidden;
        position: relative;
        display: block;
        & span{
            display: block;
            @include  transition(.3s);
        }
        
        & .tc-btn-y-2{
            position: absolute;
            left: 0;
            color: #fff;
        }
    }
    & i{
        width: 25px;
        height: 120%;
        position: absolute;
        bottom: -7px;
        right: -8px;
        @include transform(rotate(13deg));
        background-color: #71A2FF;
        @include  transition(.3s);
    }

    &-orange{
        background-color: var( --tc-theme-orange);
        & i{
            background-color: #FFAD8A;
        }
    }
}

.tc-text-btn{
    display: inline-block;
    font-size: 18px;
    color: #0A0E1A;
    align-items: center;
    font-family: var(--tc-heading-font);
    & i{
        margin-left: 8px;
        @include transform(rotate(-45deg));
    }

    &-white{
        color:#A3AEC3;
    }
}

.circle-icon-btn{
    height: 60px;
    width: 60px;
    font-size: 15px;
    @include  transition(.3s);
    color: #57595C;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #57595C;
    & i{
        @include transform( rotate(-45deg));
    }
    &:hover{
        background: var(--tc-theme-orange);
        border: var(--tc-theme-orange);
        i{
            color: #fff;
        }
    }
}
