@use '../../utils' as *;

.tc-about-box{
    @media #{$xl}{
        padding-left: 20px;
    }
    @media #{$lg,$md,$xs}{
        padding-left: 0px;
    }
}

.tc-cream-bg-3{
    @media #{$xl,$lg,$md,$xs}{
        margin: 0;
    }
}


.tc-about{
    &-video{
        @media #{$xl}{
            padding-left: 20px;
        }
        @media #{$lg,$md,$xs}{
            padding-left: 0px;
        }
        &-info{
            & h4{
                color: #57595C;
                font-size: 30px;
            }
        }
}
&-wrapper{
    @media #{$xl}{
        padding-left: 100px;
    }
    @media #{$lg,$md,$xs}{
        padding-left: 0px;
    }
}
&-thumb{
    @media #{$xl,$lg,$md}{
        margin-right: 0;
    }
    @media #{$xs}{
        margin-left: 0;
        margin-right: 0;
    }

    & > img{
        z-index: 2;
        position: relative;
    }
}
&-circle{
    bottom: 0;
    width: 615px;
    height: 596px;
    position: absolute;
    border-radius: 100%;
    background-color: var(--tc-theme-sec-color-3);
    @media #{$xl}{
        width: 561px;
        height: 559px;
    }
    @media #{$lg}{
        width: 400px;
        height: 409px;
    }
    @media #{$xs}{
        width: 303px;
        height: 297px;
    }
}

&-2-shape{
    &-1{
        top: 0;
        right: 50px;
    }
    &-2{
        left: -55px;
        top: 140px;
    }
}
}

.tc-about-content{
    & ul{
        margin-top: 25px;
        & li{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;
            & i{
                color: #000;
                font-size: 30px;
                font-weight: 300;
                line-height: 40px;
            }
            & span{
                color: #0A0E1A;
                font-size: 30px;
                font-weight: 400;
                font-family: var(--tc-heading-font);
                @media #{$xs}{
                    font-size: 25px;
                }
            }
        }
    }
}

.tc-about-circle-image{
    top: 0;
    right: 185px;
    & img{
        max-width: inherit;
    }
}

.tc-about-shape-1{
    top: 17%;
    z-index: 1;
}
.tc-about-shape-2{
    top: 50px;
    right: 0;
    z-index: 1;
}

.bg-radious{
    border-radius: 357px;
    @media #{$md,$xs}{
        border-radius: 0;
    }
}

.tc-about-spaceing{
    @media #{$md,$xs}{
        padding-top: 0px;
    }
}
