@use '../../utils' as *;


.tcaward-wrapper{
    & .row{
        & .col-md-6:nth-child(even){
            & .tcaward{
                padding-left: 55px;
                border-left: 1px solid #57595c;
                @media #{$xs}{
                    padding-left: 7px;
                    border-left: 0;
                }
            }
        }

        & .col-md-6:nth-child(1){
            & .tcaward{
                padding-top: 0;
            }
        }
        & .col-md-6:nth-child(2){
            & .tcaward{
                padding-top: 0;
            }
        }

        & .col-md-6:nth-last-child(-n+2){
            & .tcaward{
                padding-bottom: 0;
                border-bottom: 0;
                @media #{$xs}{
                    border-bottom: 1px solid #57595c;
                    padding-bottom: 38px;
                    padding-left: 0;
                }
            }
        }

    }
}


.tcaward{
    padding: 38px 0px;
    border-bottom: 1px solid #57595c;
    @media #{$xs}{
        padding-top: 38px!important;
    }
    &-wrapper{
        padding-right: 80px;
    }
    & span{
        font-family: var(--tc-heading-font);
        font-size: 20px;
        color: #57595c;
        display: block;
        margin-bottom: 10px;
    }
    &__title{
        margin: 0;
        font-size: 30px;
        @media #{$xl}{
            font-size: 25px;
        }
    }
}