@use '../../utils' as *;

.tcblog{
    &__thumb{
        & a{
            & img{
                border-radius: 25px;
                width: 100%;
            }
        }
    }
    &__meta{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & span{
            font-size: 17px;
            color: #57595C;
            & i{
                margin-right: 5px;
            }
        }
        & cite{
            width: 2px;
            height: 16px;
            margin: 0 14px;
            background: #57595C;
            display: inline-block;
        }
    }
    &__title{
        & a{
            font-weight: 400;
            font-size: 30px;
            line-height: 1.25;
            font-family: var(--tc-heading-font);
        }
    }
    &-2{
        border: 1px solid #000;
        border-radius: 10px;
        position: relative;
        & .tcblog__thumb{
            width: 200px;
            height: 100%;
            margin-left: -3px;
            position: absolute;
            transform: translateY(-12px);
            & img{
                object-fit: cover;
                height: calc(100% + 24px);
            }
        }
        & .tcblog__content{
            padding-top: 23px;
            padding-left: 228px;
            padding-bottom: 23px;
          
        }
    }
}


.tcblog__content-meta {
    width: 55px;
    display: flex;
    height: 170px;
    padding: 5px 8px;
    position: relative;
    border-radius: 5px;
    align-items: center;
    flex-direction: column-reverse;
    & span{
        display: flex;
        flex-direction: column-reverse;
        & cite{
            top: 28px;
            left: -37px;
            width: 130px;
            font-size: 15px;
            font-weight: 700;
            font-style: normal;
            position: absolute;
            text-transform: uppercase;
            transform: rotate(-90deg);
        }
    }
    & i{
        width: 45px;
        height: 45px;
        margin: auto;
        font-size: 20px;
        line-height: 45px;
        border-radius: 5px;
        text-align: center;
        background-color: #fff;
    }
}