@use '../../utils' as *;

.tcfact{

    margin-right: 10px;
    &__icon{
        & span{
            font-size: 110px;
            color: var(--tc-theme-sec-color);
            display: inline-flex;
        }
    }

    &__text{
        & span{
            font-size: 100px;
            color: #fff;
            display: inline-block;
            line-height: 1;
            font-family: var(--tc-heading-font);
        }

    }

    &__title{
        font-size: 30px;
        color: #fff;
        opacity: 0.5;
        @media #{$lg}{
            font-size: 28px;
        }
    }
    &-2{
        & .tcfact__icon{
            & span{
                color: #57595C;
            }
            &-2{
                position: relative;
                & span{
                    color: var(--tc-theme-orange);
                }
                &::after{
                    content: "";
                    height: 100px;
                    width: 1px;
                    right: 0;
                    top: 11px;
                    background-color: #d9d9d9;
                    position: absolute;
                }
            }
        }

        & .tcfact__title{
            color: #57595C;
            opacity: 1;
        }

        & .tcfact__text{
            & span{
                color: #0A0E1A;
            }
        }
    }
}



.custom-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$xs}{
        justify-content: center;
    }
}

@media #{$md,$sm}{
    .cols{
        width: 50%;
       
    }
}