@use '../../utils' as *;

.tc-portfolio{
    &__text{
        left: 80px;
        opacity: 0;
        bottom: 70px;
        transition: .3s;
        visibility: hidden;
        & span{
            font-size: 15px;
            font-weight: 500;
            color: #0A0E1A;
            padding: 12px 20px 12px 20px;
            background-color: #fff;
            text-transform: uppercase;
        }

    }
    &__title{
        margin: 0;
        color: #0A0E1A;
        font-size: 30px;
        margin-top: 15px;
        font-weight: 400;
        background-color: #fff;
        padding: 12px 20px 12px 20px;

    }

    &:hover &__text{
        opacity: 1;
        bottom: 80px;
        visibility: visible;
    }
}

.tcshowcase{
    &__number{
        & span{
            font-size: 40px;
            color: #A3AEC3;
            position: relative;
            &::before{
                top: 50%;
                left: -68px;
                content: "";
                width: 60px;
                height: 1px;
                position: absolute;
                background: #A3AEC3;
            }
        }
    }

    &__cat{
        & span{
            color:#0A0E1A;
            padding: 4px 16px;
            background:#FFE9C9;
            border-radius: 30px;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    &__title{
        color: #fff;
        font-size: 40px;
    }
}