@use '../../utils' as *;

.tcservices{
    padding: 40px 38px;
    margin-right: -1px;
    transition: 0.3s;
    @media #{$xl}{
        padding: 40px 30px;
    }
    &__icon{
        & span{
            z-index: 2;
            font-size: 105px;
            position: relative;
        }

        &-shape{
            left: 0;
            top: -6px;
            z-index: 1;
        }
    }
    &__text{
        &__title{
            font-size: 30px;
            font-weight: 400;
        }
    }
    &__list{
       & ul{
        list-style: none;
           & li{
            color: #57595c;
            margin-bottom: 5px;
            &::before{
                content: "";
                height: 8px;
                width: 8px;
                margin-right: 8px;
                border-radius: 30px;
                display: inline-block;
                transform: translateY(-1px);
                background-color: #57595c;
            }
            }
        }
    }
    &:hover{
        background-color: var(--tc-cream-color);
        & .tc-sv-btn{
            color: #fff;
            background-color: var(--tc-theme-color);
        }
    }

    &-2{
        margin-top: -1px;
        padding-bottom: 14px;
        .tcservices__icon {
            & span{
                font-size: 57px;
                margin-left: 25px;
            }
        }  
    }
}


.tcservices__icon_btn{
    & a{
        font-size: 45px;
        display: inline-flex;
        &:hover{
            color: var(--tc-theme-orange);
        }
    }
}


.tc-sv-btn{
    display: flex;
    font-size: 18px;
    transition: 0.3s;
    padding: 6px 28px;
    border-radius: 5px;
    align-items: center;
    background-color: #FBF6EF;
    justify-content: space-between;
    font-family: var(--tc-heading-font);
    & i{
        transform: rotate(-40deg);
    }
}

.tcservices-space{
    padding-top: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
}