@use '../../utils' as *;

.tcservices{
    padding: 40px 38px;
    margin-right: -1px;
    @include  transition(.3s);
    @media #{$xl}{
        padding: 40px 30px;
    }
    
    &__icon{
        & span{
            z-index: 2;
            font-size: 105px;
            position: relative;
        }

        &-shape{
            left: 0;
            top: -6px;
            z-index: 1;
        }
    }
    &__text{
        &__title{
            font-size: 30px;
            font-weight: 400;
        }
    }
    &__list{
       & ul{
        list-style: none;
           & li{
            color: #57595c;
            margin-bottom: 5px;
            &::before{
                content: "";
                height: 8px;
                width: 8px;
                margin-right: 8px;
                border-radius: 30px;
                display: inline-block;
                @include transform( translateY(-1px));
                background-color: #57595c;
            }
            }
        }
    }
    &:hover{
        background-color: var(--tc-cream-color);
        & .tc-sv-btn{
            color: #fff;
            background-color: var(--tc-theme-color);
        }
    }

    &-2{
        margin-top: -1px;
        padding-bottom: 14px;
        .tcservices__icon {
            & span{
                font-size: 57px;
                margin-left: 25px;
            }
        }  
    }
}


.tcservices__icon_btn{
    & a{
        font-size: 45px;
        display: inline-flex;
        &:hover{
            color: var(--tc-theme-orange);
        }
    }
}


.tc-service-space{
    @media #{$lg,$md,$xs}{
        padding-bottom: 0;
    }
}

.tc-sv-btn{
    display: flex;
    font-size: 18px;
    @include  transition(.3s);
    padding: 6px 28px;
    border-radius: 5px;
    align-items: center;
    background-color: #FBF6EF;
    justify-content: space-between;
    font-family: var(--tc-heading-font);
    & i{
        @include transform( rotate(-40deg));
    }
}

.tcservices-space{
    padding-top: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
}

.tc-service-2-tab{
    & .nav-links:first-child{
       & .tcsertab{
        border-top: 1px solid #2b303f;
       }
    }
    & .active{
        & .tcsertab__title{
            color: var(--tc-theme-red);
        }
    }
}

.tcsertab{
    padding: 17px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #2b303f;
    &__num{
        margin-top: 13px;
    }
    &__title{
        font-size: 100px;
        font-weight: 400;
        @media #{$xl}{
            font-size: 40px;
    }
        @media #{$lg}{
            font-size: 20px;
    }
        @media #{$md}{
            font-size: 70px;
    }
        @media #{$xs}{
            font-size: 30px;
    }
    }
    &__content{
        & p{
            margin: 0;
            color: #b1b4ba;
        }
    }
}

.tc-project-tab{
    @media #{$md,$xs}{
        justify-content: start;
}
&-wrapper{
    @media #{$xs}{
        padding-left: 0;
}
}
}

.tc-service-bg{
    @media #{$md,$xs}{
        border-radius: 0px;
}
}

.xl-title{
    @media #{$xl}{
        font-size: 20px;
        margin-bottom: 20px;
}
}

.tc-about-btn-space{
    @media #{$md,$xs}{
        margin-bottom: 50px;
}
}